<header class="p-3 text-bg-light fixed-top shadow-sm">
  <div class="container ">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-secondary text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Dot Job  Portal"><use xlink:href="#dotjobportal"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-none d-lg-block" role="search">
        <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search">
      </form>
      
      <form class="col-18 col-lg-auto mx-2 mb-lg-0 me-lg-3 d-lg-none" role="search"> 
        <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" class="bi bi-search" viewBox="0 0 16 16" >
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-secondary me-2 m-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>