<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'bootstrap.html' %}

    <style>
      #hdr {
        object-fit:cover;
        /* float: left; */
      }
      .perma-nav {
          display: block;
          overflow: hidden;
          margin: 35px auto 10px;
          /* width: 950px; */
          font-size: 1rem;
          font-family: "Neufile Grotesk Semi Bold", sans-serif;
          padding: 70px 0 0 5px;
      }
      .perma-nav a{
        color: #f03e3e;
      }

    </style>
  </head>
  <body>
    <div style="height:56px"></div>
    <div>
       {% include 'nav.html' %}
    </div>
    <div id="hdr" class="container">

    <div class="perma-nav container"><a href="/categories/all-other-remote-jobs"><p style="float: right;"> See more All Other Remote jobs<span id="arrow-right">→</span></p></a><a href="/"><p style="float: left;z-index: 999;"><span id="arrow-left">←</span> Back to all jobs </p></a></div>
    
    <div class="container">
      <div id="message-box" class="animated fadeIn">
        <div id="icon">
          <i class="fa fa-check"></i>
        </div>
        <div id="text">
          <h3 id="status">Success</h3>
          <p class="fs-6" id="message">You have applied for the <span class="fs-4 mx-auto pb-2 fw-semibold">{{job['title']}} Role</span> successfully. We will contact you soon.</p>
      
        </div>
      </div>
    </div>
    </div>
       </body>